<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/statics/plugins/bootstrap-3.3.7/dist/css/bootstrap.css">
</head>
<body>
{% load my_tags %}
{% load static %}
<p>{{ 11|my_filter:22 }}</p>
{% my_tag1 11 22 33 %}
{% my_html "zzz" "xxx" %}
<h1>{{ hello }}</h1>
<p>{{ name }}</p>
<p>{{ views_list }}</p> # 取出整个列表
<p>{{ views_list.0 }}</p> # 取出列表的第一个元素
<p>{{ views_dict.name }}</p>
<p>{{ text|default:"菜鸟教程666" }}</p>
<p>{{ time|date:"Y-m-d" }}</p>
<p>{{ views_str|safe }}</p>
{{ name }}<img src="{% static "images/1.png" %}" alt="1">
</body>
</html>
